* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

html {
  height: 100%; }

body {
  background-color: #653e5a;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

.mask {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: -1;
  transition: opacity .5s ease;
  opacity: 0;
  justify-content: center;
  align-items: center; }

.result-text {
  font-size: 3em; }
  .result-text.win {
    color: green; }
  .result-text.lose {
    color: red; }
  .result-text.tie {
    color: yellow; }

.play-again-btn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid pink;
  color: pink;
  cursor: pointer;
  transition: all .3s ease; }
  .play-again-btn:hover {
    background-color: pink;
    color: purple; }

#player {
  color: pink;
  font-weight: 100;
  margin: 0px;
  padding: 20px;
  min-width: 210px;
  text-align: center; }

#tic-tac-toe {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  margin: 20px auto;
  width: 450px; }
  #tic-tac-toe .box {
    cursor: pointer;
    height: 150px;
    position: relative;
    width: 150px; }
    #tic-tac-toe .box:nth-child(1) {
      border-right: 2px solid pink;
      border-bottom: 2px solid pink; }
    #tic-tac-toe .box:nth-child(2) {
      border-right: 2px solid pink;
      border-bottom: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:nth-child(3) {
      border-bottom: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:nth-child(4) {
      border-top: 2px solid pink;
      border-right: 2px solid pink;
      border-bottom: 2px solid pink; }
    #tic-tac-toe .box:nth-child(5) {
      border-top: 2px solid pink;
      border-right: 2px solid pink;
      border-bottom: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:nth-child(6) {
      border-top: 2px solid pink;
      border-bottom: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:nth-child(7) {
      border-top: 2px solid pink;
      border-right: 2px solid pink; }
    #tic-tac-toe .box:nth-child(8) {
      border-top: 2px solid pink;
      border-right: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:nth-child(9) {
      border-top: 2px solid pink;
      border-left: 2px solid pink; }
    #tic-tac-toe .box:after, #tic-tac-toe .box:before {
      opacity: 0;
      transition: opacity .3s ease; }
    #tic-tac-toe .box .cross {
      width: 0px;
      height: 0px;
      position: relative;
      top: 50%;
      left: 50%;
      opacity: 0.1; }
      #tic-tac-toe .box .cross:after, #tic-tac-toe .box .cross:before {
        border: 2px solid pink;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
        content: '';
        position: absolute;
        width: 70px;
        height: 0px;
        left: -36px;
        top: -1px; }
      #tic-tac-toe .box .cross:after {
        opacity: 1;
        transform: rotate(45deg); }
      #tic-tac-toe .box .cross:before {
        opacity: 1;
        transform: rotate(-45deg); }
    #tic-tac-toe .box .circle {
      width: 0px;
      height: 0px;
      position: relative;
      top: 50%;
      left: 50%;
      opacity: 0.1; }
      #tic-tac-toe .box .circle:after {
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
        content: '';
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 4px solid pink;
        opacity: 1;
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px); }

@media screen and (max-width: 500px) {
  #tic-tac-toe {
    width: 350px;
    height: 350px;
    margin: 30px auto; }
    #tic-tac-toe .box {
      width: 116.6666666667px;
      height: 116.6666666667px; } }
@media screen and (max-width: 320px) {
  #tic-tac-toe {
    width: 250px;
    height: 250px;
    margin: 40px auto; }
    #tic-tac-toe .box {
      width: 83.3333333333px;
      height: 83.3333333333px; } }

/*# sourceMappingURL=main.css.map */
